/* 

  RESET AND NORMALIZATION

*/

* {
  margin: 0; padding: 0;

  position: relative;
  box-sizing: border-box;

  font-family: 'Manrope', sans-serif;
}

html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;

  background-color: rgb(242, 247, 255);

  font-family: 'Manrope', sans-serif;
}

/* 

  CONTAINER

*/

.container {
  width: 100%; height: 100%;
}

/* 

  HEADER

*/

.gradient-header {
  width: 100%; height: 170px;
  background: linear-gradient(rgb(33, 116, 255) 0%, rgb(116, 199, 200) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-header__logo {
  width: 128px;
}

/* 

  RECEIVER CARD

*/

.receiver-card {
  width: calc(100% - 40px);

  margin-left: 20px;
  margin-top: -32px;
  padding: 20px 30px;
  
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(0,0,0,.16);
  background-color: white;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.receiver-card__avatar-container {
  width: 80px; height: 80px;

  border-radius: 50%;
  background-color: #bdbdbd;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.receiver-card__avatar {
  width: 60px; height: 60px;
  object-fit: contain;
}

.receiver-card__profile-picture {
  width: 80px; height: 80px;
  border-radius: 50%;

  object-fit: contain;

  position: absolute;

  left: 0; top: 0;
}

.receiver-card__content {
  width: calc(100% - 80px);
  padding-left: 16px;
}

.receiver-card__name {
  color: #464646;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 6px;
}

.receiver-card__role {
  color: #464646;
  font-size: 16px;
}

.receiver-card__branch {
  color: #464646;
  font-size: 12px;
  font-weight: 400;
}

/* 

  RATING

*/

.rating-container {
  width: 100%;

  padding: 0 20px;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.rating-container__label {
  font-size: 16px;
  font-weight: 400;
  color: #464646;
}

.rating-container__stars {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: 15px;

  transition: .5s ease;
}

.rating-container__stars--selected {
  transform: translateY(-138%) scale(.7);

  transition: .5s ease;
}


.rating-container__star {
  width: calc(48px + 6px); height: calc(48px + 6px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-container__star svg {
  width: 48px; height: 48px;
  fill: white;
  stroke: rgb(109, 201, 200);
  stroke-width: 1.5px;

  transition: all .2s ease-in-out;
}

.rating-container__star.rating-container__star--selected svg {
  fill: rgb(109, 201, 200);
  stroke: rgb(109, 201, 200);

  transition: all .2s ease-in-out;
}

/* 

  LOADER

*/

.loader-container {
  width: 100%; height: 100%;

  left: 0; top: 0;
  position: fixed;

  background-color: rgb(242, 247, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}